# dependencies
/node_modules
/data
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
!.env.example

# typescript
*.tsbuildinfo

# Payload 產出
src/payload-types.ts
/media
/public/media

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# OS
Thumbs.db
